In [6]:
# Import the required library
from geopy.geocoders import Nominatim
import geopandas as gpd
from geopy.exc import GeocoderTimedOut, GeocoderUnavailable

In [7]:
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

In [8]:
location = geolocator.geocode("Andhra pradesh")
print("The latitude of the location is: ", location.latitude)
print("The longitude of the location is: ", location.longitude)

The latitude of the location is:  15.9240905
The longitude of the location is:  80.1863809

In [9]:
import pandas as pd
names=["ARSIKERE", "BAGEPALLI", "BANGARPET", "BELAGAVI", "BELUR", "BINNY MILL (F&V)", "C.R.NAGAR", "C.R.PATNA", "CHANNAPATNA", "CHICKBALLAPUR", "CHIKKAMAGALURU", "CHINTAMANI", "DAVANAGERE", "DODDABALLAPUR", "GUNDLUPET", "HASSAN", "HUNSUR", "K.R.PET", "KADUR", "KALABURAGI", "KANAKAPURA", "KOLAR", "MANDYA", "MULBAGAL", "MYSURU", "NAGAMANGALA", "RAMANAGARA", "SHIVAMOGGA", "SRINIVASPUR", "T.NARSIPUR", "UDIPI"]
prices=[1982, 1222, 1030, 1930, 1860, 1895, 1148, 2000, 1824, 1165, 1642, 894, 1116, 1756, 1589, 1304, 2454, 1000, 1223, 947, 1895, 1036, 1542, 904, 1614, 1466, 1883, 1019, 1217, 1738, 1756]

In [10]:
df = pd.DataFrame(columns=['Place','latitude','longitude','modal price'])

In [11]:
for i in range(len(names)):
    try:
        location = geolocator.geocode(names[i])
        df.loc[len(df)]={'Place': names[i],'latitude':location.latitude, 'longitude':location.longitude, 'modal price': prices[i]}
    except:
        continue

In [12]:
df

             Place   latitude   longitude  modal price
0         ARSIKERE  13.313782   76.253199         1982
1        BAGEPALLI  13.783442   77.796058         1222
2        BANGARPET  12.988220   78.181256         1030
3         BELAGAVI  15.857267   74.506934         1930
4            BELUR  22.635732   88.339822         1860
5        C.R.NAGAR  12.979172   77.592372         1148
6        C.R.PATNA -20.155194   57.509390         2000
7      CHANNAPATNA  12.659373   77.203893         1824
8    CHICKBALLAPUR  13.438785   77.720574         1165
9   CHIKKAMAGALURU  13.500000   75.500000         1642
10      CHINTAMANI  13.398659   78.053306          894
11      DAVANAGERE  14.466127   75.920636         1116
12   DODDABALLAPUR  13.292958   77.543146         1756
13       GUNDLUPET  11.808496   76.691614         1589
14          HASSAN  13.007082   76.099270         1304
15          HUNSUR  12.303509   76.292810         2454
16           KADUR  -7.094010  113.558842         1223
17      KALABURAGI  17.166667   77.083333          947
18      KANAKAPURA  12.545027   77.419910         1895
19           KOLAR  13.136720   78.133725         1036
20          MANDYA  12.523889   76.896196         1542
21        MULBAGAL  13.162600   78.395900          904
22          MYSURU  12.305183   76.655361         1614
23     NAGAMANGALA  12.819608   76.754219         1466
24      RAMANAGARA  12.725277   77.280480         1883
25      SHIVAMOGGA  14.055828   75.131253         1019
26     SRINIVASPUR  13.339114   78.211368         1217
27      T.NARSIPUR  20.925443   76.917423         1738
28           UDIPI   3.303113   31.174801         1756